<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IBD Project</title>
    <!-- Compiled and minified CSS -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- For pagination of tables -->
    <script>
      $(document).ready(function() {
        $("#data").after(
          '<center><ul id="nav" class="pagination"></ul></center>'
        );
        var rowsShown = 9;
        var rowsTotal = $("#data tbody tr").length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
          var pageNum = i + 1;
          $("#nav").append(
            '<li class="waves-effect"><a href="#" rel="' +
              i +
              '">' +
              pageNum +
              "</a> </li>"
          );
        }
        $("#data tbody tr").hide();
        $("#data tbody tr")
          .slice(0, rowsShown)
          .show();
        $("#nav a:first").addClass("active");
        $("#nav li:first").addClass("active");
        $("#nav a").bind("click", function() {
          $("#nav a").removeClass("active");
          $("#nav li").removeClass("active");
          $(this).addClass("active");
          $(this)
            .parent("li")
            .addClass("active");
          var currPage = $(this).attr("rel");
          var startItem = currPage * rowsShown;
          var endItem = startItem + rowsShown;
          $("#data tbody tr")
            .css("opacity", "0.0")
            .hide()
            .slice(startItem, endItem)
            .css("display", "table-row")
            .animate({ opacity: 1 }, 300);
        });
      });
    </script>
    <script>
      $(document).ready(function() {
        $(".dropdown-trigger").dropdown();
      });
    </script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">IBD Project (Yelp)</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a class="dropdown-trigger" href="#" data-target="dropdown1"
              >Mandatory Queries</a
            >
            <!-- Dropdown Structure for tables -->
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="query1.html">Query 1</a></li>
              <li><a href="query2.html">Query 2</a></li>
              <li><a href="query3.html">Query 3</a></li>
              <li><a href="query4.html">Query 4</a></li>
              <li><a href="query5.html">Query 5</a></li>
            </ul>
          </li>
          <li>
            <a class="dropdown-trigger" href="#" data-target="dropdown2"
              >Custom Queries</a
            >
            <!-- Dropdown Structure for Queries -->
            <ul id="dropdown2" class="dropdown-content">
              <li><a href="sel_usr">User</a></li>
              <li><a href="select_business.html">Business</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="pagecontainer">
      {% block container %}{% endblock %}
    </div>
  </body>
</html>
